[connection]
id={{ item }}
uuid={{ item | to_uuid }}
type=wifi
permissions=

[wifi]
ssid={{ item }}
mode=infrastructure

[wifi-security]
key-mgmt={{ wifi_networks[item].protocole }}
psk={{ wifi_networks[item].psk }}

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto